<nav class="navbar">
    <div class="nav-left">
      <a class="brand" href="{% url 'home' %}">
        Forge<span>Studio</span>
      </a>
    </div>
  
    <div class="nav-right">
      <a class="nav-link" href="{% url 'posting' %}">Posting</a>
      <a class="nav-link" href="{% url 'improve' %}">Improve</a>
      <a class="nav-link" href="{% url 'videoscript' %}">Script</a>
      <a class="nav-link" href="{% url 'anvil' %}">Anvil</a>
      <a class="nav-link nav-link-forge" href="{% url 'forge' %}">Forge Mode</a>
    </div>
  </nav>
  